// Install FontAwesome for useful icons
@import "../../bower_components/font-awesome/scss/font-awesome.scss";

// Import fonts from Google
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Lato:400,700);

// Set variables and reusable mixins
@import "base/config";
@import "base/mixins";

// Import typical layout styles
@import "base/grid";
@import "base/type";

// Import reusable modules
@import "components/media";
@import "components/buttons";
@import "components/tables";
@import "components/forms";
@import "components/alerts";
@import "components/nav";
@import "components/other";

// Specific project styles, add any section specific sass modules here
@import "pages/layout";
@import "pages/home";

// Additional styles to think about
@import "base/responsive";
@import "base/print";

// If IE support is needed
@import "base/ie";

// For anything quick and dirty that needs thrown in
@import "base/shame";

body {
    background-color: white;
}

.wrapper {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
}

.col-left {
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80px;
}

.col-right {
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80px;
}

.col-middle {
    position: absolute;
    top: 80px;
    bottom: 80px;
    right: 80px;
    left: 80px;
    background: url(../img/BG%20image.png);
    background-size: cover;
}

.bottom-middle {
    position: absolute;
    bottom: 0;
    left: 80px;
    right: 80px;
    height: 80px;
}

.top-middle {
    position: absolute;
    top: 0;
    left: 80px;
    right: 80px;
    height: 80px;
}

.rotate {
    /* Safari */
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    /* Firefox */
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    /* IE */
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    /* Opera */
    -o-transform: translateX(-50%) translateY(-50%) rotate(-90deg);

}

.rotate-c {
    /* Safari */
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    /* Firefox */
    -moz-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    /* IE */
    -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    /* Opera */
    -o-transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
}

.bottom-middle {
    
}
