// Install FontAwesome for useful icons
@import "../../bower_components/font-awesome/scss/font-awesome.scss";

// Import fonts from Google
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Lato:400,700);

// Set variables and reusable mixins
@import "base/config";
@import "base/mixins";

// Import typical layout styles
@import "base/grid";
@import "base/type";

// Import reusable modules
@import "components/media";
@import "components/buttons";
@import "components/tables";
@import "components/forms";
@import "components/alerts";
@import "components/nav";
@import "components/other";

// Specific project styles, add any section specific sass modules here
@import "pages/layout";
@import "pages/home";

// Additional styles to think about
@import "base/responsive";
@import "base/print";

// If IE support is needed
@import "base/ie";

// For anything quick and dirty that needs thrown in
@import "base/shame";

@font-face {
  font-family: 'FranklinBold';
  src: url('../fonts/FranklinBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/FranklinBold.woff') format('woff'), url('../fonts/FranklinBold.ttf')  format('truetype'), url('../fonts/FranklinBold.svg#FranklinBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    background-color: #18261B;
    
    p {
        letter-spacing: 1px;
        color: #E0BB97;
        font-size: 15px;
        text-transform: uppercase;
        font-family: FranklinBold!important;
    }
}

.wrapper {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
}

.first {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60%;
    p {
        position: absolute;
        z-index: 100;
        white-space: nowrap;
    }
    
    .top-text {
        top: 40px;
    }
    .logo {
        top: 55%;
        position: absolute;
        max-width: 300px;
    }
}

.left-text {
    position: absolute;
    left: 0;
    top: 50%;
    /* Safari */
    -webkit-transform: translateY(-50%) rotate(-90deg);
    /* Firefox */
    -moz-transform: translateY(-50%) rotate(-90deg);
    /* IE */
    -ms-transform: translateY(-50%) rotate(-90deg);
    /* Opera */
    -o-transform: translateY(-50%) rotate(-90deg);

}

.right-text {
    position: absolute;
    right: 0;
    top: 50%;
    /* Safari */
    -webkit-transform:translateY(-50%) rotate(90deg);
    /* Firefox */
    -moz-transform: translateY(-50%) rotate(90deg);
    /* IE */
    -ms-transform: translateY(-50%) rotate(90deg);
    /* Opera */
    -o-transform:translateY(-50%) rotate(90deg);
}


.second {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    p {
    position: absolute;
    z-index: 100;
    white-space: nowrap; 
}
    
    .btn {
        margin-left: auto;
        margin-right: auto;
        max-width: 106px;
        margin-top: 100px;
        cursor: pointer;
        height: 30px;
        outline: none;
        text-transform: uppercase;
        background: transparent;
        font-weight: 700;
        transition: all 0.2s ease-in-out;
        border-radius: 0px;
        color: #E0BB97;
        border: solid 1px #E0BB97;
        font-size: 10px;
        text-align: center;
        line-height: 26px;
        &:hover {
            background: #E0BB97;
            border: solid 1px #E0BB97;
            color: #18261B;
        }
    }
    .social {
        position: absolute;
        margin-top: 110px;
        text-align: center;
        font-size: 20px;
        min-width: 200px;
        cursor: pointer;
    }
    i {
        color: #E0BB97;
        padding: 10px 10.5px;
        text-decoration: none;
        &:hover {
            color: #E6D6C6;
        }
    }
    .bottom-text {
        bottom: 20px;
    }
}

.center {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

@media (max-width: 767px) {
    .social {
        margin-top: 40px!important;
    }
    .top-text {
        top: 20px!important;
    }
    .left-text {
        left: -30px;
    }
    .right-text {
        right: -30px;
    }
    .bottom-text {
        bottom: 0!important;   
    }
}